@model Task2ViewModel
@{
    ViewData["Title"] = "Task #2";
}

<div class="task2 common">
    <div class="task-header">Task #2: Analyze Assets</div>
    <ol>
        <li>Take the API key obtained from the previous and assign to the HomeController action Task2.</li>
        <li>With the correct API key, you should receive the list of assets that will need to be sent to our analytics team.</li>
        <li>Debug the code on HomeController.cs to the sub lists of assets below are being filtered and sorted correctly. There should be no more than 4 entries for each criteria</li>
        <li>Observe the two sub lists, go back to the terminal and type, <span class="terminal-code">validate task2 {Id of an asset with highest unit value},{Id of an asset with the most quantity}</span> (without the curly braces).</li>
        <li>Click OK once the terminal gives you the green light.</li>
    </ol>
    <div class="table-task2 text-center">
        
        <table class="table">
            <caption>Top 4 Assets with Most Value per Unit</caption>
            <thead>

            <tr>
                <th scope="col">Id:</th>
                <th scope="col">Name:</th>
                <th scope="col">Value:</th>
                <th scope="col">Quantity:</th>
            </tr>
            </thead>
            <tbody>
            @if (Model?.Top4MostValuableAssets != null)
            {
                @foreach (var asset in Model.Top4MostValuableAssets)
                {
                    <tr>
                        <td>@asset.Id</td>
                        <td>@asset.Name</td>
                        <td>@string.Format("${0:#,#.0000}", asset.Value)</td>
                        <td>@string.Format("{0:#,#}", asset.Quantity)</td>
                    </tr>
                }
            }
            </tbody>
        </table>
        <table class="table">
            <caption>Top 4 Assets with Most Quantities</caption>
            <thead>
            <tr>
                <th scope="col">Id:</th>
                <th scope="col">Name:</th>
                <th scope="col">Value:</th>
                <th scope="col">Quantity:</th>
            </tr>
            </thead>
            <tbody>
            @if (Model?.Top4MostQuantityAssets != null)
            {
                @foreach (var asset in Model.Top4MostQuantityAssets)
                {
                    <tr>
                        <td>@asset.Id</td>
                        <td>@asset.Name</td>
                        <td>@string.Format("${0:#,#.0000}", asset.Value)</td>
                        <td>@string.Format("{0:#,#}", asset.Quantity)</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <div class="lower-controls text-center">
        <button class="sky-neon" onclick="window.location.href = '@Url.Action("Task1", "Home")'">Back</button>
        @if (Model?.Top4MostValuableAssets != null && Model?.Top4MostQuantityAssets != null && Model.Top4MostQuantityAssets.Count() + Model.Top4MostValuableAssets.Count() == 8)
        {
            <button class="submit-button" onclick="window.location.href = '@Url.Action("Task3", "Home")'">Submit</button>
        }
        else
        {
            <button class="submit-button submit-button-disabled disabled">Submit</button>
        }
        <button class="sky-neon" onclick="window.location.href = '@Url.Action("Task3", "Home")'">Skip</button>
    </div>
</div>
    
